@charset "UTF-8";
@import "mixin";
/* 样式重置 */
body {
    font-family: 'Microsoft YaHei';
    font-size: 16px;
}

pre {
    padding: 0;
    margin: 10px 0;
    code {
        font-size: 1.142857em;
    }
}

ol {
    padding: 0;
}

li {
    list-style: none;
}

a:focus, .btn:focus {
    outline: none;
}

a:hover {
    @include fn-transition(all, .5s, ease, 0s);
    text-decoration: none;
}

button:hover {
    @include fn-transition(all, .5s, ease, 0s);
}

.table {
    text-align: center;
    th {
        text-align: center;
    }
    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }
}

.navbar {
    min-height: inherit;
}

/* 公共样式 */
.u-ipt-search {
    padding: 8px 15px;
    position: relative;
    input[type="text"] {
        padding-right: 27px;
    }
    input[type="submit"] {
        display: none;
    }
    .glyphicon {
        @include fn-transition(color, .5s, ease, 0s);
        @include fn-position-all(absolute, 50%, 25px, auto, auto);
        @include fn-transform(0, -50%);
        font-size: 1.1em;
        cursor: pointer;
        &:hover {
            color: #ff0000;
        }
    }
}

.u-btn-up {
    @include fn-transition(opacity, .5s);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: -1;
    opacity: 0;
    background-color: #FFFFFF;
    &:hover, &:visited:hover, &:active:hover, &:focus:hover {
        background-color: $base-color;
        border-color: $base-color;
        color: #FFFFFF;
    }
    &:visited, &:active, &:focus {
        background-color: transparent;
    }
    &.showed {
        opacity: 1;
        z-index: 1;
    }
}

.f-navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    overflow: hidden;
    @include fn-animation(navbar-slide);
}

.m-type-list {
    h4 {
        color: $base-color;
        padding-bottom: 5px;
        border-bottom: 2px solid $base-color;
    }
    p {
        text-indent: 2em;
        a {
            width: 100%;
            display: block;
            &:hover {
                color: $base-color;
            }
        }
    }
}
.m-header{
    a.navbar-brand{
        padding: 7px;
        width: 50px;
        img{
            width: 100% !important;
            height: 100% !important;
        }
    }
}

/* 首页 */
.m-article {
    padding-bottom: 15px;
    ul {
        margin-bottom: 25px;
    }
    li {
        border-bottom: 1px solid #dad9e0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        a {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 25px 15px;
            color: #31708f;
            &:hover {
                background-color: #eeeeee;
            }
            @include fn-transition(background-color, .5s, ease, 0s);
            h3 {
                color: #800080;
                margin-top: 0;
            }
            p {
                &:nth-child(3) {
                    display: none;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .u-none-tips {
        text-align: center;
        font-size: 18px;
    }
    .u-btn {
        display: block;
        width: 30%;
        margin: 0 auto;
    }
}

/* 文章页面 */
.m-article-content {
    padding-bottom: 25px;
    textarea {
        display: none;
    }
    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    blockquote{
        background-color: #000000;
        color: #ffffff;
        opacity: .85;
    }
    pre{
        overflow-y: auto;
    }
}

/* 文章管理 */
.m-nav-article {
    margin-bottom: 20px;
}

.m-table-article {
    padding-bottom: 15px;
    .u-none-tips {
        text-align: center;
        font-size: 18px;
    }
    .u-btn {
        display: block;
        width: 30%;
        margin: 0 auto;
    }
    tr {
        td:first-child {
            cursor: pointer;
            &:hover {
                background-color: $base-color;
                color: #ffffff;
            }
        }
        td:nth-child(4){
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 450px;
        }
    }
    .m-search{
        position: relative;
        margin-bottom: 20px;
        text-align: right;
        input{
            display: inline-block;
            width: 25%;
        }
        span{
            @include fn-absolute-ver();
            right: 12px;
            cursor: pointer;
        }
    }
}

.m-article-publish {
    .col-xs-6 {
        div {
            min-height: 400px;
            height: auto;
            img {
                margin: 0 auto;
                max-width: 100%;
                display: block;
            }
            blockquote{
                background-color: #000000;
                color: #ffffff;
                opacity: .85;
            }
        }
    }
    p {
        span {
            display: inline-block;
        }
        input[type="radio"] {
            display: none;
        }
    }
    form{
        textarea {
            min-height: 400px;
        }
    }

}
/* 用户管理 */
.m-user-ctrl{
    padding-bottom: 25px;
    .u-btn{
        display: block;
        width: 30%;
        margin: 0 auto;
    }
    .u-none-tips {
        text-align: center;
        font-size: 18px;
    }
    .m-search{
        position: relative;
        margin: 20px 0;
        text-align: right;
        input{
            display: inline-block;
            width: 25%;
        }
        span{
            @include fn-absolute-ver();
            right: 12px;
            cursor: pointer;
        }
    }
}
@import "media";
@import "animations";